body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
  }

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

h2 {
    font-size: 24px;
}

.container {
    margin: 0 auto;
    width: 1024px;
}

#main-bio{
    float: left;
    width: 70%;

}

#contact-info{
    float: left;
    width: 30%;
    line-height: 1.5;
}

#bio-image{
    float: left;
    width: 200px;
    margin-right: 20px;
}

a {
    color: #d21034
}